<script>
  import { Toast, ToastBody, ToastHeader } from 'sveltestrap'
  import { SpeechInput } from '$components/speeches'
  import { handleCreateSpeech as _handleCreateSpeech } from '$hooks/api/speech';
  import { speechCreated, setSpeechCreated } from '$stores/speech'
  import { processing } from '$stores/processing'

  const handleToastClose = () => {
    setSpeechCreated(false);
  }

  const handleCreateSpeech = async (speech) => {
      await _handleCreateSpeech(speech);
  }
</script>

<div>
  <div class="page-title fs-5 fw-bold">New speech</div>
    <SpeechInput
      onSubmit={handleCreateSpeech}
      processing={$processing}
    />
    <Toast isOpen={$speechCreated} on:close={handleToastClose} autohide>
      <ToastHeader icon="success"></ToastHeader>
      <ToastBody>
        Speech created successfully
      </ToastBody>
    </Toast>
</div>