<script>
  import { handleRemoveSpeech as _handleRemoveSpeech } from '$hooks/api/speech';
  import { RemoveButton } from '$components/lib/ControlButtons';
  import { processing } from '$stores/processing'

  export let speech = null;
  export let useTooltip = false;

  const handleRemoveSpeech = async () => {
    await _handleRemoveSpeech(speech);
  };
</script>

<div>
  <RemoveButton
    on:click={handleRemoveSpeech}
    color="white"
    text="Remove speech"
    autoWidth={!useTooltip}
    textNormal
    textColor="danger"
    useTooltip={useTooltip}
    isDisabled={$processing}
  />
</div>

