<script>
  import { onMount } from 'svelte'
  import SpeechesList from './SpeechesList.svelte'
  import SpeechesListEmpty from './SpeechesListEmpty.svelte'
  import { speeches, speechPage as page, speechEndPaging as endPaging, setSpeechEndPaging as setEndPaging } from '$stores/speech'
  import useRoutes from '$hooks/routes';

  const { handleSpeechesRoute } = useRoutes().useSpeechesRoute();

  async function handleLoadMoreSpeeches() {
    await handleSpeechesRoute({ query: { page: $page + 1 }})
  }
  
  onMount(async () => {
    if (!$speeches?.length) {
      setEndPaging(false);
      await handleSpeechesRoute({ query: { page: $page ?? 1 }})
    }
  })
</script>

<SpeechesList
  speeches={$speeches}
  onLoadMore={handleLoadMoreSpeeches}
  loadingText="Loading speeches..."
  isDisabled={$endPaging}
>
  <div slot="listEmpty">
    <SpeechesListEmpty />
  </div>
</SpeechesList>
