<script>
  import { Dropdown, DropdownItem, DropdownMenu, DropdownToggle } from 'sveltestrap';
  import { ThreeDotsVertical } from 'svelte-bootstrap-icons'

  import SpeechRemove from '../SpeechRemove/SpeechRemove.svelte';
  import SpeechEditRoute from '../SpeechEdit/SpeechEditRoute.svelte';

  export let speech = null;
</script>

<div class="d-flex justify-content-end justify-content-sm-center">
  <Dropdown class="d-inline mx-2"
  >
    <DropdownToggle
      color="white"
      class="d-flex justify-content-center"
    >
      <ThreeDotsVertical />
    </DropdownToggle>
    <DropdownMenu class="shadow-sm">
      <DropdownItem>
        <SpeechEditRoute {speech} />
      </DropdownItem>
      <DropdownItem>
        <SpeechRemove {speech} />
      </DropdownItem>
    </DropdownMenu>
  </Dropdown>
</div>

