<script>
  import SpeechNewRoute from "../SpeechNew/SpeechNewRoute.svelte";
</script>

<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="d-block">
    <div class="d-block">
      <div class="fw-bold fs-5 text-center">
        Oops, there are no speeches yet.
      </div>
    </div>
    <div class="my-2 w-100 justify-center">
      <SpeechNewRoute
        text="Create your first speech"
      />
    </div>
  </div>
</div>
