<script>
  import { Table } from 'sveltestrap';
  import SpeechItem from "./SpeechItem.svelte";
  
  export let speeches = null;
</script>

<Table class="list-table" borderless hover responsive>
  <thead class="list-table-head-sticky">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Text</th>
      <th>Audio file</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {#each speeches as speech (speech.id)}
    <SpeechItem {speech} />
    {/each}
  </tbody>
</Table>
