<script>
  import { DEFAULT_PAGE_SIZE } from '$config';

  import { LoadMore } from '$components/lib/LoadMore';
  import SpeechesListTable from './SpeechesListTable.svelte';

  export let speeches = null;
  export let loadingText = 'Loading speeches...';
  export let onLoadMore = undefined;
  export let isDisabled = false;

</script>


{#if !speeches}
  <div>{loadingText}</div>
{:else if speeches.length}
  <div>
    <SpeechesListTable {speeches}/>
    {#if speeches.length >= DEFAULT_PAGE_SIZE}
      <LoadMore
        onLoadMore={onLoadMore}
        text="Load more speeches"
        isDisabled={isDisabled}
      />
    {/if}
  </div>
{:else}
  <slot name="listEmpty" />
{/if}