<script>
  import SpeechItemActions from "./SpeechItemActions.svelte";

  export let speech = null;
  const { name, title, text, synthesizedData = null, createdOn, updatedOn } = speech ?? {};
</script>

<tr class="list-table-row-border">
  <td>
    <div style={{ cursor: 'pointer' }} class="py-1 item-body">
      {name ? name : 'N/A'}
    </div>
  </td>
  <td>
    <div style={{ cursor: 'pointer' }} class="py-1 item-body">
      {title ? title : 'N/A'}
    </div>
  </td>
  <td>
    <div style={{ cursor: 'pointer' }} class="py-1 item-body">
      {text ? text : 'N/A'}
    </div>
  </td>
  <td>
    <div style={{ cursor: 'pointer' }} class="py-1 item-body">
      <a href="{synthesizedData?.url}" target="_blank" rel="noreferrer">{synthesizedData?.name ? synthesizedData?.name : 'N/A'}</a>
    </div>
  </td>
  <td>
    <div style={{ cursor: 'pointer' }} class="py-1 item-body">
      {createdOn ? new Date(createdOn) : 'N/A'}
    </div>
  </td>
  <td>
    <div style={{ cursor: 'pointer' }} class="py-1 item-body">
      {updatedOn ? new Date(updatedOn) : ''}
    </div>
  </td>
  <td>
    <div class="py-1 w-100 justify-end">
      <SpeechItemActions {speech} />
    </div>
  </td>
</tr>