<script>
  import SpeechesListContainer from './SpeechesListContainer.svelte'
  import SpeechNewRoute from '../SpeechNew/SpeechNewRoute.svelte';
</script>

<div class="d-block">
  <div class="my-3">
    <div class="justify-end">
      <SpeechNewRoute />
    </div>
  </div>
  <div clas="my-2">
    <SpeechesListContainer />
  </div>
</div>
