<script>
  import { Toast, ToastBody, ToastHeader } from 'sveltestrap'
  import SpeechesListView from '../SpeechesList/SpeechesListView.svelte';
  import { setSpeechRemoved, speechRemoved } from '$stores/speech'

  const handleToastClose = () => {
    setSpeechRemoved(false)
  }
</script>

<div>
  <div class="page-title fs-5 fw-bold">Speeches</div>
  <div class="page-content">
    <SpeechesListView />
  </div>
  <div>
    <Toast isOpen={$speechRemoved} on:close={handleToastClose} autohide>
      <ToastHeader icon="danger"></ToastHeader>
      <ToastBody>
        Speech removed successfully
      </ToastBody>
    </Toast>
  </div>
</div>


