<script>
  import { Toast, ToastBody, ToastHeader } from 'sveltestrap';
  
  import { handleUpdateSpeech as _handleUpdateSpeech } from '$hooks/api/speech';
  import { SpeechInput } from '$components/speeches';
  import { setSpeechUpdated, speechUpdated } from '$stores/speech'
  import { processing } from '$stores/processing'

  export let speech = null;

  const handleToastClose = () => {
    setSpeechUpdated(false);
  }

  const handleUpdateSpeech = async (updatedSpeech) => {
      await _handleUpdateSpeech(speech, updatedSpeech);
  }
</script>

<div>
    <div class="page-title fs-5 fw-bold">Edit speech</div>
    <SpeechInput
      onSubmit={handleUpdateSpeech}
      isEditing
      processing={$processing}
      {speech}
    />
    <Toast isOpen={$speechUpdated} on:close={handleToastClose} autohide>
      <ToastHeader icon="dark"></ToastHeader>
      <ToastBody>
        Speech updated successfully
      </ToastBody>
    </Toast>
</div>