<script>
  import { Button, Tooltip } from 'sveltestrap';

  export let clicked = false;
  export let type = 'button';
  export let text = 'Edit';
  export let autoWidth = false;
  export let isDisabled = false;
  export let color = 'dark';
  export let textColor = null;
  export let textNormal = false;
  export let useTooltip = false;
  export let tooltipPlacement = 'bottom';
  export let hideLabel = false;
  export let children = false;

</script>


<div>
  <Button
    class={`${autoWidth ? 'w-auto' : 'w-100'} ${
      textNormal ? 'fw-normal' : 'fw-bold'
    } ${textColor ? `text-${textColor}` : undefined}`}
    {type}
    disabled={clicked || isDisabled}
    {color}
    id={`tooltip-${tooltipPlacement}`}
    on:click
  >
    {#if children}
      <slot name="children"></slot>
    {:else}
      <div>
        {#if !hideLabel}
          <span class="px-2 control-button-label">{text}</span>
        {/if}
      </div>
    {/if}
    {#if useTooltip}
      <Tooltip target={`tooltip-${tooltipPlacement}`} placement={tooltipPlacement}>{text}</Tooltip>
    {/if}
  </Button>
</div>