<script>
  import { afterUpdate } from 'svelte';
  import { Row, Col, Input, Label, FormText, FormGroup } from 'sveltestrap';
  import { object as Yup } from 'yup';
  import { createForm } from 'felte'
  import { validator } from '@felte/validator-yup'
  import { YUP_NAME_VALIDATOR, YUP_TITLE_VALIDATOR, YUP_TEXT_VALIDATOR } from '$config/validators';
  import { CancelButton, CreateButton, EditButton } from '$components/lib/ControlButtons';

  export let speech = null;
  export let isEditing = false;
  export let processing = false;
  export let onSubmit = undefined;

  const processingText = 'Processing...';

  const handleSubmitSpeech = ({ text, name, title }) => {
    const newSpeech = { name, title, text };
    onSubmit && onSubmit(newSpeech);
  };

  const speechInputSchema = Yup({
    name: YUP_NAME_VALIDATOR,
    title: YUP_TITLE_VALIDATOR,
    text: YUP_TEXT_VALIDATOR,
  });

  const { form, errors, reset, setInitialValues } = createForm({
    onSubmit: handleSubmitSpeech,
    extend: validator({ schema: speechInputSchema }),
  });

  const handleCancelSpeech = () => {
    reset();
  };

  afterUpdate(() => {
    setInitialValues({ name: speech?.name, title: speech?.title, text: speech?.text });
  })
</script>

<div class="my-3">
  <form use:form novalidate>
    <Row cols={1}>
      <Col>
        <FormGroup class="my-1">
        <Label class="main-form-label">Name of audio file(speech)</Label>
            <Input
              type="text"
              placeholder="Audio file name goes here..."
              invalid={$errors?.name}
              feedback={$errors?.name?.join(',')}
              name="name"
              value={speech?.name}
            />
        <FormText>Provide audio file name e.g. hello world</FormText>
        </FormGroup>
      </Col>

      <Col>
        <FormGroup class="my-1">
        <Label class="main-form-label">Title of speech</Label>
          <Input
            type="text"
            placeholder="Speech title goes here..."
            invalid={$errors?.title}
            feedback={$errors?.title?.join(',')}
            name="title"
            value={speech?.title}
          />
        <FormText>Provide speech title e.g. Welcome Message 7</FormText>
        </FormGroup>
      </Col>

      <Col>
        <FormGroup class="my-1">
        <Label class="main-form-label">Speech text</Label>
        <Input
          type="textarea"
          placeholder="Speech text goes here..."
          invalid={$errors?.text}
          feedback={$errors?.text?.join(',')}
          name="text"
          value={speech?.text}
          rows={20}
        />
        <FormText>Provide speech text e.g. Good morning everyone</FormText>
        </FormGroup>
      </Col>
    </Row>
    <div class="d-flex flex-column-reverse flex-md-row justify-content-end my-2">
      <div class="my-1 my-sm-0 mx-1">
        <CancelButton
          on:click={handleCancelSpeech}
          text="Cancel"
        />
      </div>
      <div class="my-1 my-sm-0 mx-1">
        {#if isEditing}
        <EditButton
            type="submit"
            clicked={processing}
            text={`${processing ? processingText : 'Edit speech'}`}
          />
        {:else}
        <CreateButton
            type="submit"
            clicked={processing}
            text={`${processing ? processingText : 'New speech'}`}
          />
        {/if}
      </div>
    </div>
  </form>
</div>

