<script>
  import { Button } from 'sveltestrap';

  export let onLoadMore = undefined;
  export let text = 'Load more';
  export let isDisabled = false;
</script>

<div class="my-2 d-flex justify-content-center">
  <Button
    class="w-100 rounded shadow-none"
    color="light"
    size="lg"
    on:click={onLoadMore}
    disabled={isDisabled}
  >
    <b>{text}</b>
  </Button>
</div>