<script>
  import { Button } from 'sveltestrap';

  export let onLoadMore = undefined;
  export let isDisabled = false;
</script>

<div class="my-2 d-flex justify-content-center">
  <Button
    class="w-100"
    color="light"
    size="lg"
    on:click={onLoadMore}
    disabled={isDisabled}
  />
</div>